.player {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #5454547c;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  img {
    width: 50px;
    padding: 6px;
    height: auto;
    object-fit: cover;
  }
  span {
    font-size: 32px;
  }
}

.player-position {
  position: absolute;
  right: 0;
}

.player-active {
  background-color: orange;
}
