.player {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: orange;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  img {
    width: 80px;
    padding: 10px;
    height: auto;
    object-fit: cover;
  }
  span {
    font-size: 32px;
  }
}

.player-position {
  position: absolute;
  right: 0;
}
